@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --action-color: #255DBA;
  --background-color: #FCFCFC;
  --body-background: #000000;
  --button-color-bottom: #E0D506;
  --button-color-text: #000000;
  --button-color-top: #fef100;
  --color-highlight: #255DBA;
  --color-highlight-text: #FFFFFF;
  --content-max-width: 830px;
  --content-radius: 10px;
  --font-color: #3D3C3B;
  --font-family: "Inter", system-ui, sans-serif;
  --font-size: 16px;
  --footer-link-color: #fef100;
  --footer-text-color: #B0B0B0;
  --frame-width: 10px;
  --h1-size: 200%;
  --h1-style: normal;
  --h1-weight: 700;
  --h2-size: 150%;
  --h2-style: normal;
  --h2-weight: 700;
  --h3-size: 125%;
  --h3-style: normal;
  --h3-weight: 600;
  --header-color: #fef100;
  --link-color: #255DBA;
  --logo-height: 34px;
  --logo-url: url('/fixtures/volturra-pulse-2000/branding/logo.svg');
  --logo-width: 185px;
  --menu-color-bottom: #FFF41A;
  --menu-color-text: #000000;
  --menu-color-top: #E6DA00;
  --menu-color-top-active: #1F4E92;
  --timeline-background: #303030;
  --timeline-card-background: #575757;
  --timeline-card-text: #CFCFCF;
  --timeline-event-collected: #0EA5E9;
  --timeline-event-published: #3B82F6;
  --timeline-event-recycled: #059669;
  --timeline-event-refurbished: #8B5CF6;
  --timeline-event-repair: #EA580C;
  --timeline-event-text: #FFFFFF;
  --timeline-event-use: #16A34A;
  --timeline-label-color: #707070;
  --timeline-line-color: #666666;
}
